/* lato-regular - latin */
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: 400;
  src: url('../lato/lato-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../lato/lato-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../lato/lato-v13-latin-regular.woff2') format('woff2'),
       url('../lato/lato-v13-latin-regular.woff') format('woff'),
       url('../lato/lato-v13-latin-regular.ttf') format('truetype'),
       url('../lato/lato-v13-latin-regular.svg#Lato') format('svg');
}